<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h1 class=" text-center py-3">{{ title }}</h1>
    </div>
    <div class="col-md-12">
      <div class="text-center">
          <p class="font-weight-bold">{{ description }}</p>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
