<div>
  <div class="row form-group">
    <div class="col-md-6">
      <label>Kraj</label>
    </div>
    <div class="col-md-6">
      <select class="form-control" [(ngModel)]="dailySalaryModel.countryCode" (change)="onCountryChange($event.target.value)">
        <option *ngFor="let country of countries" value={{country.countryCode}}>{{country.name}}</option>
      </select>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-6">
      <label >Wynagrodzenie dzienne brutto w walucie kraju [{{currencyCode}}]</label>
    </div>
    <div class="col-md-6">
      <input type="number" name="daySalary" class="form-control" [(ngModel)]="dailySalaryModel.dailyGross">
    </div>
  </div>

  <div class="row form-group justify-content-end">
    <div class="col-md-6">
      <button class="btn btn-block btn-primary" (click)="onCountSalary()">Oblicz</button>
    </div>
  </div>


  <div class="row form-group">
    <div class="col-md-6">
      <label class="font-weight-bold">Wynagrodzenie miesięczne netto [zł]</label>
    </div>
    <div class="col-md-6">
      <label *ngIf="!countingError" class="font-weight-bold">{{salaryModel.monthlyNet}}</label>
      <div *ngIf="countingError" class="alert alert-danger">Błąd komunikacji z serwerem</div>
    </div>
  </div>

</div>
